.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-color {
    background-color: #dfefd5;
    color: black;
  }
  
  .login-size{
    font-size: 20px;
  }
  
  .margin-class{
    margin-right: 10px;
  }