.ForgotAuthor-background{
    background-color:hsl(218, 41%, 15%);
    /* background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%); */
          background-image: url("../homePage/images/background.jpg");
  }
  .ForgotAuth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .ForgotAuth-form {
    width: 473px;
    height: 300px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(160 160 165);
  }
  
  .ForgotAuth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .ForgotAuth-form-title {
    text-align: center;
    /* margin-bottom: 1px; */
    /* margin-top: 1px; */
    font-size: 20px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .icon-size{
    font-size: 100px;
  }